body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: cadetblue;
}

#cont{
    padding: 2px;
    width: 250px;
    margin: 50px auto 0 auto;
    background-color: aquamarine;
    border-radius: 15px;
}

h1{
    margin:10px 0 5px 5px;
}
#contform{
    padding: 10px;
}

.todo{
    background-color: cadetblue;
    margin: 3px 0;
    color: aliceblue;
    padding: 3px 5px;
    border-radius: 5px;
}
.btnDelete{
    float: right;
    background-color: #356C6E;
    border: none;
    border-radius: 5px;
    margin-top: 1px;
}
#inputList{
    width: 98%;
    height: 30px;
    border: none;
    border-radius: 10px;
    margin-top: 15px;
}
